body {
  margin: 0;
  background-color: lightgray;
  font-family: "Thasadith";
  font-size: 22px;
}

.navcontainer {
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 7px 24px -5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.text {
  position: fixed;
  top: 20%;
  left: 40%;
}
#name {
  position: relative;
  left: 10%;
}
#pic {
  position: relative;
  left: 25%;
  border-radius: 50%;
}
#info {
  font-size: 28px;
  background-color: rgb(223, 218, 218);
  text-align: center;
  width: 30%;
  line-height: 30px;
  position: fixed;
  top: 45%;
  left: 22%;
  border: 1px solid black;
  padding: 200px;
}
a {
  text-decoration: none;
  color:black;
}
#pizza {
  display: none;
  width: 100%;
  height: 100%;
}
#pizzaButton {
  position: fixed;
  top: 100px;
  left: 43%;
  border: 1px solid black;
  background-color: rgba(16, 157, 213, 0.79);
  padding: 10px;
  transition: 0.7s;
}
.list {
  list-style: none;
}
#pizzaButton:hover {
  cursor: pointer;
  background-color: rgba(249, 204, 128, 0.79);
}
#table {
  position: relative;
  left: 60%;
  bottom: 150px;
}
th {
  padding: 10px;
}
#timeTable {
  width: 200px;
}
